    <nav class="navbar navbar-fixed-top header">
      <div class="col-md-12">
            <div class="navbar-header">
              <a href="/" class="navbar-brand" style="padding-top: 10px;"><img src="img/angular.png" height="30px"/>&nbsp;&nbsp;angular2.com</a>
              </button>
            </div>
            <!-- TODO <div class="collapse navbar-collapse" id="navbar-collapse2">
              <ul class="nav navbar-nav navbar-right">
                 <li class="active"><a href="#">Resources</a></li>
                 <li><a href="#loginModal" role="button" data-toggle="modal">Blog</a></li>
                 <li><a href="#aboutModal" role="button" data-toggle="modal">About</a></li>
               </ul>
            </div> -->
         </div> 
    </nav>

    <div class=" navbar-default" id="subnav">
      <h4 class="motto">Curated list of resources for learning how to Angular2</h4>
    </div>

    <!--main-->
    <div class="container" id="main">
      <div class="row">
          <!--articles-->
          <div class='col-md-4 col-sm-4'>
            <div class="panel panel-default small-card">
              <div class="panel-heading"><!-- TODO <a href="#" class="pull-right">View all</a> --> <h4>Angular2 Articles</h4></div>
                <div>
                  <ol>
                    {{#each articles}}
                    <li><img width="16px" src="{{img}}" style="margin-right:4px"><a target="new" href="{{url}}">{{name}}</a></li>
                    {{/each}}
                  </ol>
                </div>
              </div>
          </div>
          <!--tutorials-->
          <div class='col-md-4 col-sm-4'>
            <div class="panel panel-default small-card">
              <div class="panel-heading"><!-- TODO <a href="#" class="pull-right">View all</a> --> <h4>Angular2 Tutorials</h4></div>
                <div>
                  <ol>
                    {{#each tutorials}}
                    <li><img width="16px" src="{{img}}" style="margin-right:4px"><a target="new" href="{{url}}">{{name}}</a></li>
                    {{/each}}
                  </ol>
                </div>
              </div>
          </div>
          <!--videos-->
          <div class='col-md-4 col-sm-4'>
            <div class="panel panel-default small-card">
              <div class="panel-heading"><!-- TODO <a href="#" class="pull-right">View all</a> --> <h4>Angular2 Videos</h4></div>
                <div>
                  <ol>
                    {{#each videos}}
                    <li><img width="16px" src="{{img}}" style="margin-right:4px"><a target="new" href="{{url}}">{{name}}</a></li>
                    {{/each}}
                  </ol>
                </div>
              </div>
          </div>
      </div>

      <!-- <div class="row">
          
          <div class='col-md-12 col-sm-12'>
              <div class="well">
                <h4>{{booksSet.name}}</h4>
                <p>{{booksSet.description}}</p>
                <div class="row">
                  <div class="col-md-4 text-center">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=angu2-20&marketplace=amazon&region=US&placement=B017WEKTD4&asins=B017WEKTD4&linkId=3FCCHNG3TPNX6ACS&show_border=true&link_opens_in_new_window=true">
                    </iframe>
                  </div>

                  <div class="col-md-4 text-center">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=angu2-20&marketplace=amazon&region=US&placement=B0171UHKYA&asins=B0171UHKYA&linkId=MXSCLWCNENCF2VWV&show_border=true&link_opens_in_new_window=true">
                    </iframe>
                  </div>

                  <div class="col-md-4 text-center">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=angu2-20&marketplace=amazon&region=US&placement=B019740MNO&asins=B019740MNO&linkId=4FUUITXHBC2GRRDC&show_border=true&link_opens_in_new_window=true">
                    </iframe>
                  </div>
                  
                </div>
              </div>
          </div>
      </div> -->

      <div class="row">
          <!-- ng-europe -->
          <div class='col-md-12 col-sm-12'>
              <div class="well">
                <h4>{{videoSet.name}}</h4>
                <p>{{videoSet.description}}</p>
                <div class="row">
                  {{#each videoSet.videos}}
                  <div class="col-md-3 col-sm-6 col-xs-12 video-preview">
                    <a href="{{url}}" target="_blank">
                      <img src="{{img}}" height="100px" >
                      <p class="video-title">{{name}}</p>
                    </a>
                  </div>
                  {{/each}}
                </div>
              </div>
          </div>
      </div>

      <div class="row">
          <!--Featured article 1-->
          <div class='col-md-12 col-sm-12'>
            <div class="panel panel-default">
              <div class="panel-heading"><h4>Featured Article</h4></div>
              <div class="panel-body">
                <p><img src="{{featuredArticle.img}}" class="img-circle pull-right"> <a target="new" href="{{featuredArticle.url}}">{{featuredArticle.name}}</a><br/><br/> ({{featuredArticle.author}})<div class="clearfix"></div><hr>{{featuredArticle.safeContent}}</p>
              </div>
            </div>
          </div>
      </div>

      <div class="row">
          <!--Featured article 2-->
          <div class='col-md-12 col-sm-12'>
            <div class="panel panel-default">
              <div class="panel-heading"><h4>Featured Repository</h4></div>
              <div class="panel-body">
                <p><img src="{{featuredRepo.img}}" class="img-circle pull-right"> <a target="new" href="{{featuredRepo.url}}">{{featuredRepo.name}}</a><br/><br/> ({{featuredRepo.author}})<div class="clearfix"></div><hr>{{featuredRepo.safeContent}}</p>
              </div>
            </div>
          </div>
      </div>
      
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>

    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?autoload=true&amp;skin=desert&amp;lang=css" defer="defer"></script>
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49206459-1', 'auto');
      ga('send', 'pageview');
    </script>
